<app-navbar></app-navbar>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Tareas por Revisar</h3>
    </div>
    <div class="card-body">
      <table id="datos" class="table table-hover text-center">
        <thead>
          <tr>
            <th>Creado <input type="text" class="search form-control-sm form-control" busqueda="buscador_nombre_creador"/></th>
            <th>Proceso <input type="text" class="search form-control-sm form-control" busqueda="buscador_proceso"/></th>
            <th>Proyecto <input type="text" class="search form-control-sm form-control" busqueda="buscador_proyecto"/></th>
            <th>Tarea <input type="text" class="search form-control-sm form-control" busqueda="buscador_tarea"/></th>
            <th>Prioridad <input type="text" class="search form-control-sm form-control" busqueda="buscador_prioridad"/></th>
            <th>Peso <input type="text" class="search form-control-sm form-control" busqueda="buscador_peso"/></th>
            <th>Fecha de Inicio <input type="text" class="search form-control-sm form-control" busqueda="buscador_fecha_inicio"/></th>
            <th>Fecha de Vencimiento <input type="text" class="search form-control-sm form-control" busqueda="buscador_fecha_vencimiento"/></th>
            <!--<th>Indicadores</th>-->
            <th>Responsable <input type="text" class="search form-control-sm form-control" busqueda="buscador_responsable"/></th>
            <th>Evidencia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareasDocente">
            <td class="buscador_nombre_creador">{{ tarea.codigoTarea?.nombreDocenteRevisor }}</td>
            <td class="buscador_proceso">{{ tarea.codigoTarea?.codigoProyecto?.tipoProceso?.nombreTipoProceso }}</td>
            <td class="buscador_proyecto">{{ tarea.codigoTarea?.codigoProyecto?.nombreProyecto }}</td>
            <td class="buscador_tarea">{{ tarea.codigoTarea?.nombreTarea }}</td>
            <td class="buscador_prioridad">{{ tarea.codigoTarea?.prioridadTarea }}</td>
            <td class="buscador_peso">{{ tarea.codigoTarea?.valorPesoTarea }} {{ tarea.codigoTarea?.pesoTarea }} </td>
            <td class="buscador_fecha_inicio">{{ tarea.codigoTarea?.fechaCreaciontarea | date:"short":'+00:00' }}</td>
            <td class="buscador_fecha_vencimiento">{{ tarea.codigoTarea?.fechaEntregaTarea | date:"short":'+00:00' }}</td>
            <td class="buscador_responsable">{{ tarea.codigoDocente?.nombreDocente }} {{ tarea.codigoDocente?.apellidoDocente }} </td>
            <td *ngIf="tarea.codigoTarea?.nombreArchivoTarea!=null || tarea.codigoTarea?.nombreArchivoTarea!=''">
              <mat-icon>picture_as_pdf</mat-icon>
              <a href="" style="text-decoration: none;">{{tarea.nombreArchivoTareaDocente}}</a> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
