<app-navbar></app-navbar>
<div class="container col-md-4">
  <div class="card">
    <div class="card-header">
      <h3>Realizar Tarea</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="f.form.valid && save()" #f="ngForm">
        <div class="form-group">
          <label for="">Nombre de la Tarea:</label>
          <span *ngIf="tarea">{{ tarea.nombreTarea }}</span>
        </div>
        <div class="form-group">
          <label for="">Proyecto:</label>
          <span *ngIf="tarea">{{ tarea.codigoProyecto?.nombreProyecto }}</span>
        </div>
        <div class="form-group">
          <label for="">Fecha de Entrega:</label>
          <span *ngIf="tarea">{{ tarea.fechaEntregaTarea | date:"short":'+00:00'}}</span>
        </div>
        <div class="form-group">
          <label for="">Prioridad de la tarea:</label>
          <span *ngIf="tarea">{{ tarea.prioridadTarea }}</span>
        </div>
        <!--<div class="form-group">
          <label for="">Indicadores:</label>
        </div>-->
        <h2>Indicadores:</h2>
          <ul>
            <li *ngFor="let i of indicadoresAsignados">
              <span>{{ i.descripcionTareaIndicador}}<br/></span>
              <span>Tipo: {{ i.indicadorCODIGOINDICADOR.nombreIndicador }}</span>
              <input 
              *ngIf="i.indicadorCODIGOINDICADOR.nombreIndicador=='NUMÉRICO'"
              [(ngModel)]="i.valorIndicador"
              [name]="i.codigoTareaIndicador" 
              (change)="asignarIndicador(i)"  
              type="number" 
              class="form-control"/>
              <input 
              *ngIf="i.indicadorCODIGOINDICADOR.nombreIndicador=='FECHA'"
              [(ngModel)]="i.valorIndicador"
              [name]="i.codigoTareaIndicador"
              (change)="asignarIndicador(i)" 
              type="date" 
              class="form-control"/>
              <input 
              *ngIf="i.indicadorCODIGOINDICADOR.nombreIndicador=='TEXTO'"
              [(ngModel)]="i.valorIndicador"
              [name]="i.codigoTareaIndicador"
              (change)="asignarIndicador(i)" 
              type="text" 
              class="form-control"/>
              <input 
              *ngIf="i.indicadorCODIGOINDICADOR.nombreIndicador=='PORCENTAJE'"
              [(ngModel)]="i.valorIndicador"
              [name]="i.codigoTareaIndicador"
              (change)="asignarIndicador(i)" 
              type="number" 
              min="0" max="100"
              class="form-control"/>
              <div *ngIf="i.indicadorCODIGOINDICADOR.nombreIndicador=='BOOLEANO'">
                <label for="ckeck">Tarea Realizada</label>
                <input 
                id="ckeck"
                [value]="'Tarea Realizada'"
                [(ngModel)]="i.valorIndicador"
                [name]="i.codigoTareaIndicador"
                (change)="asignarIndicador(i)" 
                type="radio"/>
                <br/>
                <label for="noCheck">Tarea no Realizada</label>
                <input 
                id="noCheck"
                [value]="'Tarea no Realizada'"
                [(ngModel)]="i.valorIndicador"
                [name]="i.codigoTareaIndicador"
                (change)="asignarIndicador(i)" 
                type="radio"/>
              </div>
            </li>
          </ul>
          
          <!--
          <mat-card id="box1">
            <div mode="buffer" *ngFor="let progess of progressInfo">
                <span>{{progess.fileName}}</span>
                <span>{{progess.value}}%</span>
                <div id="progressbar">
                    <mat-progress-bar mode="buffer" value={{progess.value}}>
                    </mat-progress-bar>
                </div>
            </div>
          </mat-card>
        -->
  
          <div id="box2">
              <input type="button" id="selectButton" mat-raised-button (click)="fileInput.click()" value="Seleccione el archivo PDF"/>
      
              <input #fileInput type="file" hidden (change)="selectFiles($event)" />
              <span *ngIf="imageName">{{imageName}}</span>
      
              <!--<button id="uploadButton" mat-raised-button *ngIf="selectedFiles" [disabled]="!selectedFiles" (click)="uploadFiles()">
                  Subir Archivo
              </button>-->
          </div>
  
          <div id="box3">
              <span *ngIf="tareaDocente.descripcionTareadocente">{{tareaDocente.descripcionTareadocente}}</span>
              <span>{{message}}</span>
          </div>
      
          <div id="box4" *ngIf="tarea.nombreArchivoTarea!=null || tarea.nombreArchivoTarea!=''">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Archivo Guía</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul >
                        <li>
                          <mat-icon>archive</mat-icon>
                          <a href="{{fileModelClassGuia.url}}">{{fileModelClassGuia.name}}</a>
                            
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
          </div>

          <div id="box4" *ngIf="tareaDocente.archivoTareaDocente!=null ||tareaDocente.archivoTareaDocente!=''">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Archivo Subido</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul >
                        <li>
                            <mat-icon>picture_as_pdf</mat-icon>
                            <a href="{{fileModelClass.url}}">{{fileModelClass.name}}</a>
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
          </div>

          <!--<div id="box4">
              <mat-card>
                  <mat-card-header>
                      <mat-card-title>Lista de Archivos</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                      <ul>
                          <li *ngFor="let file of fileInfos | async">
                              <a href="{{file.url}}">{{file.name}}</a>
                              <mat-icon (click)="deleteFile(file.name)">delete</mat-icon>
                          </li>
                      </ul>
                  </mat-card-content>
              </mat-card>
          </div>-->
          <button type="submit" class="btn btn-danger">Guardar</button>
      </form>
      <button (click)="crearSubTarea()" *ngIf="descPerfil=='Planificador de Docencia'" class="btn btn-danger">Crear SubTarea</button>
    </div>
  </div>
</div>

