<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
	<div class="container-fluid">
		<a class="navbar-brand">GPR - MECANICA</a>

		<!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

		<!-- Step 2: Add the ngbCollapse directive to the element below. -->
		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
				<li class="nav-item active">
					<!-- Step 4: Close the menu when a link is clicked. -->
					<a class="nav-link" [routerLink]="['/docentes']"  *ngIf="usuario=='admin'" (click)="isMenuCollapsed = true" >Usuarios</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" *ngIf="usuario!='admin'" (click)="navegarProyecto()">Proyectos</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" *ngIf="usuario!='admin'" (click)="navegarPerfil()">Cuenta</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" *ngIf="usuario!='admin'" (click)="navegarTareas()">Tareas Creadas</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" *ngIf="usuario!='admin'" (click)="navegarTareasDocenteEntregadas()">Tareas Entregadas</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" *ngIf="usuario=='admin'" (click)="navegarUsuarioPerfil()">Usuario por Perfil</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" *ngIf="usuario!='admin'" (click)="navegarTareasAsignadasDocentes()">Ver Tareas Asignadas a Docentes</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" *ngIf="usuario=='admin'" (click)="navegarTiposProcesos()">Procesos</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" *ngIf="usuario!='admin'" (click)="navegarTareasDocente()">Tareas por Realizar</a>
				</li>
				
			</ul>
            <ul class="navbar-nav d-flex" role="search">
               
                <button class="btn btn-primary" (click)="IsLoggedout()" >
                    Cerrar Sesion  </button>
             </ul>

			 <nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
				  <a class="navbar-brand" href="#">Navbar scroll</a>
				  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarScroll">
					<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
					  <li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					  </li>
					  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Link
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
						  <li><a class="dropdown-item" href="#">Action</a></li>
						  <li><a class="dropdown-item" href="#">Another action</a></li>
						  <li><hr class="dropdown-divider"></li>
						  <li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					  </li>
					  <li class="nav-item">
						<a class="nav-link disabled">Link</a>
					  </li>
					</ul>
					<form class="d-flex">
					  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					  <button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				  </div>
				</div>
			  </nav>


		</div>
	</div>
</nav>