<app-navbar></app-navbar>
<div class="container">
  <button class="btn btn-info" *ngIf="descPerfil=='Director de Departamento'" (click)="navegarCrearProyecto()" style="margin-left:10px;">Nuevo</button>
</div>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Proyectos</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Proceso</th>
            <th>Proyecto</th>
            <th>Fecha Creacion</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of proyectos">
            <td>{{ proyecto.tipoProceso?.nombreTipoProceso }}</td>
            <td>{{ proyecto.nombreProyecto }}</td>
            <td>{{ proyecto.fechaCreacionproyecto | date: "dd-MM-yyyy"  }}</td>
            <td>{{ proyecto.descripcionProyecto }}</td>
            <td [ngSwitch]="proyecto.estadoProyecto">
              <span *ngSwitchCase="'ACT'">ACTIVO</span>
              <span *ngSwitchDefault>INACTIVO</span>
            </td>
            <td>
              <button (click)="editar(proyecto)" class="btn btn-warning">Editar</button>
              <button (click)="cambiarEstado(proyecto)" class="btn btn-danger" style="margin-left: 10px;">Cambiar Estado</button>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- 
  <button class="btn btn-info">Listar</button>
  -->
</div>

<!--
<div class="card">
  <h5>Proyectos</h5>
  <li class="nav-item active">
    <a class="nav-link" (click)="navegar()">Proyectos</a>
  </li>
  <p-table [value]="proyectos">
    <ng-template pTemplate="header">
      <tr>
        <th>Proyecto</th>
        <th>Fecha Creacion</th>
        <th>Descripcion</th>
        <th>Estado</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-proyecto>
      <tr>
        <td>{{ proyecto.nombreProyecto }}</td>
        <td>{{ proyecto.fechaCreacionProyecto | date: "dd-MM-yyyy"  }}</td>
        <td>{{ proyecto.descripcionProyecto }}</td>
        <td>{{ proyecto.estadoProyecto }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
-->