<nav class="navbar navbar-dark bg-dark">
    <span class="titulo">Sistemas GPR - MECANICA</span>
  </nav>

    <div class="container">
        <div class="abs-center">
          <form [formGroup]="formulario" (ngSubmit)="guardar()" class="border p-3 form">

            <span style="font-size: 25px;">
                Registro
            </span>
            <hr>


            <div class="form-group mb-3">
              <label for="id" style="font-weight: bold;">ID:</label>
              <input type="id" name="id" id="id" class="form-control" formControlName="id" maxlength="9">
              <p class="text-danger" *ngIf="formulario.get('id')?.errors?.['required'] && formulario.get('id')?.touched" >Complete este campo</p>
            </div>

            <div class="form-group mb-3">
                <label for="nombres" style="font-weight: bold;">Nombres:</label>
                <input type="nombres" name="nombres" id="nombres" class="form-control" formControlName="nombres">
                <p class="text-danger" *ngIf="formulario.get('nombres')?.errors?.['required'] && formulario.get('nombres')?.touched" >Complete este campo</p>
              </div>

              <div class="form-group mb-3">
                <label for="apellidos" style="font-weight: bold;">Apellidos:</label>
                <input type="apellidos" name="apellidos" id="apellidos" class="form-control" formControlName="apellidos">
                <p class="text-danger" *ngIf="formulario.get('apellidos')?.errors?.['required'] && formulario.get('apellidos')?.touched" >Complete este campo</p>
              </div>
              <div class="form-group mb-3">
                <label for="cedula" style="font-weight: bold;">Cédula:</label>
                <input type="cedula" name="cedula" id="cedula" class="form-control" formControlName="cedula" maxlength="10">
                <p class="text-danger" *ngIf="formulario.get('cedula')?.errors?.['required'] && formulario.get('cedula')?.touched" >Complete este campo</p>
              </div>
              <div class="form-group mb-3">
                <label for="telefono" style="font-weight: bold;">Telefono:</label>
                <input type="telefono" name="telefono" id="telefono" class="form-control" formControlName="telefono">
                <p class="text-danger" *ngIf="formulario.get('telefono')?.errors?.['required'] && formulario.get('telefono')?.touched" >Complete este campo</p>
              </div>
              <div class="form-group mb-3">
                <label for="correo" style="font-weight: bold;">Correo:</label>
                <input type="correo" name="correo" id="correo" class="form-control" formControlName="correo">
                <p class="text-danger" *ngIf="formulario.get('correo')?.errors?.['required'] && formulario.get('correo')?.touched" >Complete este campo</p>
              </div>
              <div class="form-group mb-3">
                <label for="cargo" style="font-weight: bold;">Cargo:</label>
                <input type="cargo" name="cargo" id="cargo" class="form-control" formControlName="cargo">
                <p class="text-danger" *ngIf="formulario.get('cargo')?.errors?.['required'] && formulario.get('cargo')?.touched" >Complete este campo</p>
              </div>

            <button type="submit" class="btn btn-primary">Ingresar</button>

          </form>
        </div>
      </div>
