<nav class="navbar navbar-dark bg-dark">
  <span class="titulo">Sistemas GPR - MECANICA</span>
</nav>

<div class="container">
  <div class="abs-center">
    <form [formGroup]="formulario2" (ngSubmit)="consultar()" class="border p-3 form">

      <span style="font-size: 25px;">
        Login
      </span>
      <hr>

      <p class="text-danger" *ngIf="!flag">Credenciales incorrectas</p>

      <div class="form-group mb-3">
        <label for="email" style="font-weight: bold;">Usuario:</label>
        <input type="email" name="email" id="email" class="form-control" formControlName="usuario">
        <p class="text-danger"
          *ngIf="formulario2.get('usuario')?.errors?.['required'] && formulario2.get('usuario')?.touched">Complete este
          campo</p>
      </div>
      <div class="form-group mb-3">
        <label for="password" style="font-weight: bold;">Contraseña:</label>
        <input [type]="changetype?'password':'text'" name="password" id="password" class="form-control"
          formControlName="password">

        <input type="checkbox" (change)="mostrarcontrasenia()" class="form-check-input" id="mostrarcontrasenia">
        <span class="form-check-label" style="font-size: 13px;" for="mostrarcontrasenia"> Mostrar contraseña</span>

        <p class="text-danger"
          *ngIf="formulario2.get('password')?.errors?.['required'] && formulario2.get('password')?.touched">Complete
          este campo</p>
      </div>
      <button type="submit" class="btn btn-primary" routerLinkActive="router-link-active">Ingresar</button>
      <hr>
      <a [routerLink]="['/registro']">Registrar </a> <br/>
      <a [routerLink]="['/password-olvidado']">¿Olvido su contraseña?</a>
    </form>
  </div>
</div>