<nav class="navbar navbar-dark bg-primary">
    Sistemas GPR - MECANICA
  </nav>
  <div class="container">
    <div class="col-lg-5">
        <form>
            <div class="mb-3">
              <label for="usuario" class="form-label">Usuario</label>
              <input type="usuario" class="form-control" id="usuarioLogin">
            </div>
            <div class="mb-3">
              <label for="InputPassword" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="passwordLogin">
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>

    </div>
  

  </div>
