<nav class="navbar navbar-dark bg-dark">
  <span class="titulo">Sistemas GPR - MECANICA</span>
</nav>

<div class="container">
  <div class="abs-center">
    <form [formGroup]="formulario2" (ngSubmit)="resetearPassword()" class="border p-3 form">

      <span style="font-size: 25px;">
        Ingrese el email
      </span>
      <hr>

      <p class="text-danger" *ngIf="!flag">Credenciales incorrectas</p>

      <div class="form-group mb-3">
        <label for="email" style="font-weight: bold;">Email:</label>
        <input type="email" name="email" id="email" class="form-control" formControlName="usuario">
        <p class="text-danger"
          *ngIf="formulario2.get('usuario')?.errors?.['required'] && formulario2.get('usuario')?.touched">Complete este
          campo</p>
      </div>
      
      <button type="submit" class="btn btn-primary" routerLinkActive="router-link-active">Resetear Password</button>
      <hr>
      <a [routerLink]="['/registro']">Registrar </a> <br/>
      <a [routerLink]="['/login']">Regresar</a>
    </form>
  </div>
</div>