<app-navbar></app-navbar>
<div class="container col-md-4">
  <div class="card">
    <div class="card-header">
      <h3>Crear Tarea</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="f.form.valid && save()" #f="ngForm">
        <div class="form-group">
          <label for="">Nombre de la Tarea:</label>
          <input [(ngModel)]="tarea.nombreTarea" name="nombreTareas" type="text" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="">Proyecto:</label>
          <p>{{tarea.codigoProyecto?.nombreProyecto}}</p>
        </div>
        <div class="form-group">
          <label for="">Fecha de Entrega:</label>
          <input [(ngModel)]="tarea.fechaEntregaTarea" name="fechaCreaciontarea" type="datetime-local"
            class="form-control" required />
        </div>
        <div class="form-group">
          <label for="">Prioridad de la tarea:</label>
          <select name="prioridad" [(ngModel)]="tarea.prioridadTarea">
            <option [ngValue]="prioridad.id" *ngFor="let prioridad of prioridades">{{prioridad.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Peso de la tarea:</label>
          <select name="prioridad" [(ngModel)]="tarea.pesoTarea">
            <option [ngValue]="peso.id" *ngFor="let peso of pesoTarea">{{peso.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Peso de la tarea:</label>
          <input [(ngModel)]="tarea.valorPesoTarea" name="valorPesoTarea" type="number" class="form-control" required />
        </div>
        <input type="button" (click)="visualizarIndicador()" class="" value="Agregar Indicador" />
        <div class="form-group" *ngIf="ckequearIndicador">
          <label for="">Indicador:</label>
          <p>
            <select name="indicador" [(ngModel)]="indicador">
              <option [ngValue]="ind" *ngFor="let ind of indicadores">{{ind.nombreIndicador}}</option>
            </select>
          </p>
          <label for="">Descripción del Indicador:</label>
          <input [(ngModel)]="descripcionIndicador" name="descripcionIndicador" type="text" class="form-control"
            required />
          <input type="button" (click)="agregarIndicador()" class="btn btn-danger" value="Guardar" />
        </div>
        <div class="form-group">
          <h2>Indicadores:</h2>
          <ul>
            <li *ngFor="let i of indicadoresAsignados">
              <span> {{i.nombreIndicador}} </span>
              <span> {{i.descripcionIndicador}} </span>
            </li>
          </ul>
          <input type="button" (click)="eliminarIndicador()" class="btn btn-danger" value="Quitar Indicador" />
        </div>
        <div class="form-group">
          <label for="">Cargos:</label>
          <p>
            <select name="miselect" [(ngModel)]="cargo" (change)="buscarDocentesPorCargo()">
              <option [ngValue]="carg" *ngFor="let carg of cargos">{{carg.nombreCargo}}</option>
            </select>
          </p>
        </div>
        <div class="form-group">
          <label for="">Persona Asignada:</label>
          <p>
            <select name="miselect" [(ngModel)]="tareaDocente.codigoDocente">
              <option [ngValue]="docente" *ngFor="let docente of docentes">{{docente.nombreDocente}}</option>
            </select>
          </p>
        </div>
        <h2>DOCENTES ASIGNADOS:</h2>
        <ul class="heroes">
          <li *ngFor="let d of docentesAsignados">
            <span>{{d.nombreDocente}}</span>
          </li>
        </ul>
        <input type="button" (click)="agregarElementos()" class="btn btn-danger" value="Agregar Elemento" />
        <input type="button" (click)="eliminarElementos()" class="btn btn-danger" value="Quitar Elemento" />
        <div id="box2">
          <label>(Opcional) Archivo GuÍa:</label>
          <p>
            <input type="button" id="selectButton" mat-raised-button (click)="fileInput.click()" value="Seleccione el archivo Guía"/>
          </p>
          <input #fileInput type="file" hidden (change)="selectFiles($event)" />
          <span *ngIf="imageName">{{imageName}}</span>
      </div>
      <div class="form-group">
        <label for="">Observación (Opcional:</label>
        <input [(ngModel)]="tarea.observacionTarea" name="observacionTarea" type="text" class="form-control" />
      </div>
        
        <button type="submit" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>